@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #CCCCCC;
    
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
    min-height: 100vh;
}
img{
    width: 100%;
}
.choices-container{
    display: flex;
    gap: 30px ;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.category{
    
    background-color: #003366; 
  color: #FFFFFF; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}


.category:hover{
    background-color: #00CC66;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 40px;
    min-height: 100% ;
}
.card {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .card:hover {
    background-color: #00CC66;
    color: #FFFFFF;
    border: 1px solid #00CC66;
  }

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px ;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 20px;
    display: none;
}
.modal .modal-close {
    position: absolute;
    top: 8px ;
    right: 8px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.modal-close svg{
    width: 20px;
    height: 20px;
}
.modal-close:hover{
    transform: rotate(360deg);
}
.open{
    display: block;
}
h3{
    display: inline;
}
.modal-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.modal-image img{
    height: 100%;
    object-fit: contain;

}